/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Mulish", sans-serif;
}

:root {
  --orange: #ff5400;
  --black: #131318;
  --grey: #424247;
  --white: #fff;
}

.btn-primary {
  border-radius: 8px;
  background: var(--orange);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  display: inline-block;
  padding: 15px 33px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  background: transparent;
}

/* header styles */

/* navbar styles */

.nav-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#toggler,
nav label {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 60px 135px;
}

.nav-bar-menu-li {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 44px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: var(--grey);
}

#orange-part {
  color: var(--orange);
  background: transparent;
}

/* banner styles */

.banner-container {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
}

.banner-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: center;
}

.banner-content-container h1,
.banner-content-container p {
  background-color: transparent;
}

.banner-content-container h1 {
  color: var(--white);
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-content-container p {
  width: 676px;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.banner-form-container {
  padding: 16px;
  display: flex;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  justify-content: space-evenly;
}

.banner-form-element {
  width: 174px;
  height: 52px;
  margin-right: 24px;
  border-radius: 8px 8px 8px 8px;
}

.banner-form-element:nth-child(1) > h4 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px 84px 16px 15px;
}

.banner-selection:nth-child(1) {
  display: flex;
  gap: 74px;
}

.banner-form-element:nth-child(2) > h4 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 15px;
}

.banner-selection-2 {
  display: flex;
  gap: 35px;
}

.banner-form-element:nth-child(3) > h4 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 15px;
}

.my-icon {
  background: transparent;
  margin-right: 5px;
  text-align: center;
}

/* main section styles */

/* tour section */

.tours-section {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.tour-container {
  display: flex;
  gap: 50px;
}

.tour-description {
  width: 580px;
  padding: 0px 60px;
}

.tour-description > h1 {
  color: var(--black);
  text-align: start;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.tour-description > p {
  color: var(--grey);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 24px;
}

.tour-description > ul > li {
  color: var(--grey);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 24px;
}

/* destination section styles */
.destination-section {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  margin-top: 300px;
}

.description-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-container > h1 {
  color: var(--black);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.description-container > p {
  color: var(--black);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 24px;
}

.first-row {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.second-row {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.third-row {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

/* choose section styles */
.choose-section {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
}

.choose-section-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-section-container > h1 {
  color: var(--black);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.choose-section-container > p {
  color: var(--black);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 24px;
}

.card-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row-1 {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.card {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  padding: 32px;
}

.card > h3 {
  color: var(--black);
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
  margin-top: 32px;
}

.card > img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.card > p {
  color: var(--grey);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.row-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* newsletter section */
.newsletter-section {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  margin-top: 500px;
}

.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.form-section-container {
  width: 475px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 50px;
}

.form-section-container > h2 {
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}

.form-section-container > p {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 48px;
}

input[type="text"],
input[type="email"] {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  padding: 16px 250px 16px 20px;
  margin-bottom: 24px;
}

.subscribe-btn {
  padding: 14px 180px;
  background-color: var(--orange);
  border-radius: 8px;
  background: var(--orange);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.travel-content {
  position: relative;
}

.save-btn {
  padding: 12px 20px;
  background-color: var(--orange);
  border-radius: 8px;
  background: var(--orange);
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  right: 0px;
  rotate: -30deg;
}

.save-btn > a {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  background: transparent;
}

/* footer section styles */

.footer-section {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  background: rgba(19, 19, 24, 0.05);
}

.footer-container > .nav-title,
.footer-container > p {
  background: transparent;
}

.footer-container > .nav-title {
  margin-top: 80px;
  margin-bottom: 10px;
}

.footer-container > p {
  color: var(--grey);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.social-links {
  display: flex;
  gap: 20px;
}

hr {
  width: 1400px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.copyright {
  color: #131318;
  font-family: Inter;
  font-size: 2.75rem;
  font-weight: 300;
}

/* bonus section styles */
.bonus-section {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  margin-top: 700px;
  padding: 20px;
  border-radius: 8px;
}

.bonus-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.bonus-section-container > h3,
.bonus-section-container > h1 {
  background: transparent;
}

.bonus-section-container > h1 {
  color: var(--black);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.bonus-section-container > h3 {
  background-color: #f3783b;
  padding: 10px;
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin: auto 18px;
}

.bonus-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
}

.bonus-card {
  position: relative;
}

.bonus-img {
  width: 300px;
  height: 440px;
  border-radius: 8px;
  box-shadow: 10px 14px 22px -5px rgba(237, 196, 137, 0.62);
  -webkit-box-shadow: 10px 14px 22px -5px rgba(237, 196, 137, 0.62);
  -moz-box-shadow: 10px 14px 22px -5px rgba(237, 196, 137, 0.62);
}

.bonus-card-title {
  position: absolute;
  bottom: 0px;
  color: var(--grey);
  background-color: rgba(173, 169, 169, 0.397);
  border-radius: 8px;
  font-size: 1.15rem;
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* responsive layout */
/* for mobile devices */
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 20px;
  }
  .nav-bar-menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  nav label {
    display: inline-flex;
  }
  #toggler:checked ~ .nav-bar-menu {
    max-height: 100%;
  }
  .nav-bar-menu-li {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .banner-container {
    width: 435px;
    height: 483px;
    padding: 20px;
  }
  .banner-form-container {
    flex-direction: column;
  }
  .banner-form-element {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .banner-content-container > h1 {
    font-size: 1.325rem;
    text-align: center;
  }
  .banner-content-container > p {
    width: 400px;
    font-size: 0.875rem;
    line-height: 21px;
    padding: 20px;
  }

  .banner-form-element,
  .btn-primary {
    width: 255px;
  }

  .btn-primary {
    padding: 15px 1px;
  }

  /* .tours-section {
    padding: 20px;
  } */
  .tour-container {
    flex-direction: column;
    margin: 55px;
    padding: 0px 5px;
  }

  .tour-description {
    width: 335px;
  }

  .tour-img > img {
    width: 440px;
    /* height: 550px; */
    flex-shrink: 0;
  }

  .tour-description > h1 {
    font-size: 1.25rem;
  }
  .tour-description > p,
  .tour-description > ul > li {
    font-size: 0.875rem;
  }

  .btn-tour {
    margin: 20px;
  }

  /* destination section */

  .destination-section {
    margin-top: 1000px;
    width: 335px;
  }

  .description-container > h1 {
    font-size: 1.25rem;
  }
  .description-container > p {
    font-size: 0.875rem;
  }

  .grid-layout-section {
    width: 335px;
    margin: 0 auto;
  }
  .first-row,
  .second-row,
  .third-row {
    flex-direction: column;
  }

  /* choose section */
  .choose-section {
    margin-top: 1200px;
    width: 335px;
  }
  .choose-section-container > h1 {
    font-size: 1.25rem;
  }
  .choose-section-container > p {
    font-size: 0.875rem;
  }
  .card > h3 {
    font-size: 1.25rem;
  }
  .card > p {
    font-size: 0.875rem;
  }

  .card-layout {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .row-1 {
    flex-direction: column;
  }

  .row-2 {
    flex-direction: column;
  }

  /* newsletter section */
  .newsletter-section {
    margin-top: 900px;
    width: 335px;
  }

  .newsletter-container {
    flex-direction: column;
  }
  .form-section-container {
    width: 375px;
  }

  .form-section-container > h1 {
    font-size: 1.25rem;
  }
  .form-section-container > p {
    font-size: 0.875rem;
  }
  input[type="text"],
  input[type="email"] {
    padding: 16px 146px 16px 20px;
  }

  .subscribe-btn {
    padding: 14px 130px;
  }
  .travel-content > img {
    width: 475px;
  }

  /* footer section */

  .footer-section {
    margin-top: 300px;
    width: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container > p {
    width: 80vw;
  }
  hr {
    width: 755px;
  }

  .footer-container > p {
    font-size: 0.875rem;
  }

  /* bonus section */
  .bonus-section {
    margin-top: 1400px;
    width: 335px;
  }

  .bonus-section-container {
    flex-direction: column;
  }

  .bonus-img {
    width: 380px;
  }
}
