/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Mulish", sans-serif;
}

:root {
  --orange: #ff5400;
  --black: #131318;
  --grey: #424247;
  --white: #fff;
}

.btn-primary {
  border-radius: 8px;
  background: var(--orange);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  display: inline-block;
  padding: 15px 33px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* body {
  width: 1440px;
  height: 6940px;
} */

/* header styles */

/* header {
  padding: 60px 135px;
} */

.nav-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#toggler,
nav label {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 60px 135px;
  /* flex-wrap: wrap; */
}

.nav-bar-menu-li {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 44px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: var(--grey);
}

#orange-part {
  color: var(--orange);
}

/* banner styles */

.banner-container {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
}

.banner-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: center;
}

.banner-content-container h1,
.banner-content-container p {
  background-color: transparent;
}

.banner-content-container h1 {
  color: var(--white);
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-content-container p {
  width: 676px;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.banner-form-container {
  padding: 16px;
  display: flex;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  justify-content: space-evenly;
}

.banner-form-element {
  width: 174px;
  height: 52px;
  margin-right: 24px;
  border-radius: 8px 8px 8px 8px;
}

.banner-form-element:nth-child(1) > h4 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px 84px 16px 15px;
}

.banner-selection:nth-child(1) {
  display: flex;
  gap: 74px;
}

.banner-form-element:nth-child(2) > h4 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 15px;
}

.banner-selection-2 {
  display: flex;
  gap: 35px;
}

.banner-form-element:nth-child(3) > h4 {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 15px;
}

/* responsive layout */
/* for mobile devices */
@media screen and (max-width: 600px) {
  nav {
    padding: 20px;
  }
  .nav-bar-menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  nav label {
    display: inline-flex;
  }
  #toggler:checked ~ .nav-bar-menu {
    max-height: 100%;
  }
  .nav-bar-menu-li {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .banner-container {
    width: 335px;
    height: 483px;
    padding: 20px;
  }
  .banner-form-container {
    flex-direction: column;
  }
  .banner-form-element {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .banner-content-container > h1 {
    font-size: 1.325rem;
    text-align: center;
  }
  .banner-content-container > p {
    font-size: 0.875rem;
    line-height: 21px;
    padding: 20px;
  }

  .banner-form-element,
  .btn-primary {
    width: 255px;
  }

  .btn-primary {
    padding: 15px 1px;
  }
}
